/* Zerando e padronizando alguns valores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* #region PALETA DE CORES - Estilos relacionados com a paleta de cores do projeto */
.bgc-000 {
    background-color: #000;
}

.bgc-2f86d6 {
    background-color: #2f86d6;
}

/* #endregion ESTILOS GERAIS - Fim */

/* #region ESTILOS GERAIS - Estilos gerais para vários elementos da página */
body {
    font-family: Poppins;
}

a {
    text-decoration: none;
}

.conteiner-width {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.df-row {
    display: flex;
    flex-direction: row;
    border: green 3px solid;
}

.df-col {
    display: flex;
    flex-direction: column;
    border: red 3px solid;
}

.jc-sb {
    justify-content: space-between;
}

.ai-c {
    align-items: center;
}

.texto-centralizado {
    text-align: center;
}

/* #endregion ESTILOS GERAIS - Fim*/

/* #region CABEÇALHO - Estilos para o cabeçalho (head) */
header {
    background-color: #fff;
}

/* #region MARCA - Conjunto de estilos relacionados com a marca no cabeçalho */
.marca-conteiner {
    padding: 16px 0px;
}

.marca-figurativa {
    width: 80px;
    padding: 0 8px 0 0;
}

.marca-textual {
    color: #2f86d6;
}

.marca-textual p:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

/* #endregion MARCA - Fim */
/* #region MENU SUPERIOR - Conjunto de estilos relacionados com o menu superior para telas grandes. */
nav a {
    margin-left: 16px;
}

/* #endregion MENU SUPERIOR - Fim */

/* #endregion CABEÇALHO - Fim */

/* #region CONTEÚDO PRINCIPAL - Estilos para o conteúdo principal (main) da página */
main {
    background-color: #fff;
}

/* #region BANNER - Estilos Usados no banner */
#banner {
    background-color: #2f86d6;
}

.banner-conteiner {
    padding: 16px 0px;
}

.banner-texto {
    width: 470px;
    color: #fff;
}

.banner-figure {
    width: 50%;
}

.banner-figure img {
    width: 100%;
}

/* #endregion BANNER - Fim */

/* #region ANÚNCIOS - Conjunto de Estilos usados nos anúncios 01 e 02 */
/* #region ANÚNCIOS - Estilos comuns para os anúncio 01 e anúncio 02 */
.anuncio-conteiner {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

#anuncio01, #anuncio02 {
    padding: 40px 0px;
    color: #fff;
}

.anuncio01-texto, .anuncio02-texto {
    width: 600px;
    text-align: left;
}

#anuncio01 a, #anuncio02 a {
    color: #fff;
    padding: 8px 32px;
}

/* #endregion ANÚNCIO 01 e 02 - Fim */
/* #region ANÚNCIO 01 - Estilos Específicos para o Anúncio 01 */
.anuncio01-texto p:first-of-type {
    font-weight: bold;
}

#anuncio01 a {
    background-color: #2f86d6;
}

/* #endregion ANÚNCIO 01 - Fim */
/* #region ANÚNCIO 02 - Estilos Específicos para o Anúncio 02 */
#anuncio02 a {
    background-color: #000;
}

/* #endregion ANÚNCIO 02 - Fim */
/* #endregion ANÚNCIOS - Fim */

/* #region INFORMAÇÕES - Estilos associados com as informações */
#informacoes {
    width: 100%;
    padding: 100px 0px;
}

#informacoes .texto {
    width: 900px;
    padding: 16px 0px;
}

.grupo-card {
    padding: 16px 0px;
}

.card {
    width: 32%;
}

.card img {
    width: 80%;
}

/* #endregion INFORMAÇÕES - Fim */

/* #region PLANOS - Estilos associados aos planos */
#planos {
    width: 100%;
    padding: 100px 0px;
}

/* #endregion PLANOS - Fim*/

/* #endregion MAIN - Fim */

/* #region RODAPÉ - Estilos associados ao rodapé (foot) */
/* Implementar estilo(s)*/
/* #endregion RODAPÉ - Fim */