/* #region TESTES - Estilos para testes no desenvolvimento */
.border-red-teste {
    border: 1px solid red;
}

.bgc-pink-teste {
    background-color: pink;
}

.bgc-purple-teste {
    background-color: purple;
}

/* #endregion TESTE DE LAYOUT - Fim */

/* Zerando e padronizando alguns valores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* #region ESTILOS GERAIS - Estilos gerais para vários elementos da página */
a {
    text-decoration: none;
}

/* #region PALETA DE CORES - Estilos relacionados com a paleta de cores do projeto */

/* #region BACKGROUP */
.bgc-000 {
    background-color: #000;
}

.bgc-2f86d6 {
    background-color: #2f86d6;
}

.bgc-fff {
    background-color: #fff;
}

.bgc-gray {
    background-color: #f5f5f5;
}

/* #endregion BACKGORUD - Fim */

/* #region TEXT COLOR - Estilos relacionados com as cores dos textos */
.tc-fff {
    color: #fff;
}

.tc-2f86d6 {
    color: #2f86d6;
}

.tc-233032 {
    color: #233032;
}

/* #endregion TEXT COLOR - Fim */

/* #endregion PALETA DE CORES - Fim */

/* #region TEXT ALIGN - Estilos relacionados com o alinhamento de textos */
.ta-center {
    text-align: center;
}

/* #endregion TEXT ALIGN - Fim */

/* #region FONTES - Estilos relacionados com fontes */
.fw-600 {
    font-weight: 600;
}

.fs-16 {
    font-size: 16px;
}

/* #endregion FONTES - Fim */

/* #region DISPLAY FLEX - Estilos relacionados com o Display Flex */
.conteiner-width {
    max-width: 1024px;
    width: 100%;
    margin: auto;
}

.df-row {
    display: flex;
    flex-direction: row;
}

.df-col {
    display: flex;
    flex-direction: column;
}

.jc-sb {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.ai-c {
    align-items: center;
}

/* #endregion DISPLAY FLEX - Fim */

/* #region PADDINGS E MARGENS - Estilos comuns relacionados com margens e paddings */
.p-tb-8 {
    padding: 8px 0;
}

.p-tb-16 {
    padding: 16px 0px;
}

.p-tb-40 {
    padding: 40px 0px;
}

.p-rl-8 {
    padding: 0 8px;
}

.p-rl-16 {
    padding: 0 16px;
}

.p-rl-32 {
    padding: 0 32px;
}

/* #endregion PADDINGS E MARGENS - Fim*/
/* #endregion ESTILOS GERAIS - Fim*/

/* #region CABEÇALHO - Estilos para o cabeçalho (head) */

/* #region MARCA - Conjunto de estilos relacionados com a marca no cabeçalho */

.marca-figurativa {
    width: 80px;
    padding: 0 8px 0 0;
}

.marca-textual {
    color: #2f86d6;
}

.marca-textual p:first-of-type {
    font-size: 1.5rem;
    color: #000;
}

/* #endregion MARCA - Fim */

/* #region MENU SUPERIOR - Conjunto de estilos relacionados com o menu superior para telas grandes. */
nav a {
    margin-left: 16px;
    color: #233032;
    font-weight: 600;
}

/* #endregion MENU SUPERIOR - Fim */
/* #endregion CABEÇALHO - Fim */

/* #region CONTEÚDO PRINCIPAL - Estilos para o conteúdo principal (main) da página */

/* #region BANNER - Estilos Usados no banner */
.banner-texto {
    width: 470px;
    color: #fff;
}

.banner-figure {
    width: 50%;
}

.banner-figure img {
    width: 100%;
}

.banner-titulo {
    font-size: 28px;
}

/* #endregion BANNER - Fim */

/* #region ANÚNCIOS - Conjunto de Estilos usados nos anúncios 01 e 02 */
/* #region ANÚNCIOS - Estilos comuns para os anúncio 01 e anúncio 02 */

#anuncio01, #anuncio02 {
    color: #fff;
}

.anuncio01-texto, .anuncio02-texto {
    width: 600px;
    text-align: left;
}

#anuncio01 a, #anuncio02 a {
    color: #fff;
    padding: 8px 32px;
}

/* #endregion ANÚNCIO 01 e 02 - Fim */
/* #endregion ANÚNCIOS - Fim */

/* #region INFORMAÇÕES - Estilos associados com as informações */
#informacoes-texto {
    max-width: 900px;
    width: 100%;
}

.informacoes-titulo {
    font-size: 32px;
    font-weight: 800;
}

.card {
    width: 32%;
}

.card img {
    width: 52%;
    padding: 16px 0px;
}

.card h4 {
    font-size: 18px;
    font-weight: 800;
    padding: 0px 0px 8px 0px;
}

.card p {
    font-size: 16px;
    padding: 0px 0px 8px 0px;
}

/* #endregion INFORMAÇÕES - Fim */

/* #region PLANOS - Estilos associados aos planos */
/* Implementar */
#planos img {
    max-width: 100%;
}

/* #endregion PLANOS - Fim*/
/* #endregion MAIN - Fim */