/*
Fontes padrão do projeto: Fraunces, Oswald e Lato
Fonte obtida de forma on-line a partir do google fonts.
*/
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/* ESTILOS GERAIS : Início */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.conteiner {
    border-top: 1px solid #656565;
}

/* ESTILOS GERAIS : Fim */


/* Estilos da Seção TOPO : Início */
#secao-topo {
    position: fixed;
    top: 0px;
    background-color: #604829;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

#secao-topo img {
    width: 100px;
    height: 100px;
    margin-left: 15%;
}

.barra-nav {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    margin-right: 15%;
    display: flex;
    gap: 20px;
    /* Espaçamento entre as opções do menu */
}

.barra-nav a {
    text-decoration: none;
    color: #c4a47c;
}

/* Estilos da Seção TOPO : Fim */


/* Estilos da Seção BANNER : Início */
#secao-banner {
    background-image: url('../img/parallax-imagem1.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Adiciona o efeito parallax */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Fraunces, serif;
    font-size: 50px;
    color: #fff;
}

/* Estilos da Seção BANNER : Fim */



/* Estilos da Seção INFORMAÇÕES : Início */
.secao-info {
    background-color: #fff;
}

.info-text {
    text-align: center;
    padding: 80px 0px 80px 0px;
}

.info-text h2 {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    color: #c4a47c;
    max-width: 1024px;
    margin: auto;
}

.info-text p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    color: #666;
    padding: 0px 20px 0px 20px;
    max-width: 1024px;
    margin: auto;
}

.faixa-slogan {
    background-image: url('../img/parallax-imagem2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Adiciona o efeito parallax */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa-slogan1 {
    background-image: url('../img/parallax-imagem3.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Adiciona o efeito parallax */
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.faixa-slogan p, .faixa-slogan1 p {
    font-family: Fraunces, serif;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background-color: #604829;
    width: 500px;
    padding: 10px;

}

/* Estilos da Seção INFORMAÇÕES : Fim */


/* Estilos da Seção CONTATOS : Início */
#secao-contatos {
    color: #fff;
    background-image: url('../img/parallax-imagem4.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#secao-contatos h2 {
    font-family: Oswald, sans-serif;
    font-size: 24px;
    background-color: #604829;
    text-align: center;
    width: 500px;
    padding: 10px;
}

#contatos-enderecos {
    background-color: #604829;
    width: 500px;
    padding: 10px;
}

#contatos-enderecos p {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    text-align: center;
}

/* Estilos da Seção CONTATOS : Fim */


/* Estilos da Seção HORÁRIOS : Início */
#secao-horarios {
    background-image: url('../img/horario-fundo-cafeteria.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Adiciona o efeito parallax */
    height: 85vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#secao-horarios h2 {
    font-family: Oswald, sans-serif;
    font-size: 18px;
    text-align: center;
}

#secao-horarios ul {
    font-family: Oswald, sans-serif;
    font-size: 16px;
    width: 768px;
}

#secao-horarios li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

.dia-semana {
    width: 64px;
}

.separador {
    flex: 1;
    border-bottom: 1px dotted #acacac;
    margin: 0px 20px;
}

.horario {
    width: 84px;
    text-align: right;
}

.aberto {
    color: #acacac;
}

.fechado {
    color: #c4a47c;
}

/* Estilos da Seção HORÁRIOS : Fim */



/* Estilos da Seção RODAPÉ : Início */
#secao-rodape {
    background-color: #000000;
    position: relative;
    padding: 20px 0px 20px 0px;
}

#secao-rodape a {
    position: absolute;
    bottom: 80px;
    right: 50px;
    color: #c4a47c;
}

#secao-rodape a img {
    width: 60px;
    height: 60px;
}

#secao-rodape p {
    font-family: Lato, sans-serif;
    font-size: 16px;
    background-color: #000000;
    color: #fff;
    text-align: center;
}

#secao-rodape span {
    font-family: Lato, sans-serif;
    font-size: 16px;
    background-color: #000000;
    color: #c4a47c;
}

/* Estilos da Seção RODAPÉ : Fim */